.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
  background: #a7a7a7a6;
}
tr {
  margin-top: 1rem;
  align-items: center;
}
.container {
  display: none;
}

.event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-grid-list {
    width: 80%;
  }

  mat-card {
    background-color: #ff4081;

    color: white;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-top: 1rem;

    &.alternate-bg {
      background: #e7e4ff;
      color: black;
    }

    .event-title {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .event-time {
      font-size: 0.9rem;
    }

    .event-online {
      font-size: 0.8rem;
      opacity: 0.8;
    }

    mat-card-actions {
      display: flex;
      justify-content: space-between;
      color: #4b3a85;
    }
  }
}

@media (min-width: 600px) {
  .event-container {
    display: none;
  }
  .container {
    display: block;
  }
}
.action-btn {
  font-size: 1rem;
  font-weight: 500;
}
