/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$primary-color: #3f51b5;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import "@angular/material/prebuilt-themes/magenta-violet.css";

// button {
//   width: 100%; /* Make the button full width */
//   padding: 12px; /* Increase padding for better touch target */
//   font-size: 16px; /* Increase font size */
//   border-radius: 4px; /* Rounded corners for the button */
//   transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */

//   /* Add a box shadow for a 3D effect */
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

//   /* Change background color on hover */
//   &:hover {
//     background-color: #1976d2; /* Darker shade of primary color */
//     transform: translateY(-2px); /* Slight lift effect */
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
//   }

//   /* Change background color when disabled */
//   &:disabled {
//     background-color: #e0e0e0; /* Light grey for disabled state */
//     color: #9e9e9e; /* Darker grey text for disabled state */
//     cursor: not-allowed; /* Change cursor to indicate disabled state */
//   }
// }
